.weather_area {
  display: inline-flex;
  background-color: #8080800a;
  box-shadow: 0 0 8px 8px white inset;
  padding: 50px;
}
.weather_top_line {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 300px;
}
.weather_mid_line {
  display: flex;
  align-items: center;
}

.date {
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
}

.temp {
  display: block;
  font-size: 50px;
  margin-block-start: 0.33em;
}
