body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  display: inline-flex;
  align-items: center;
  background-color: white;
  font-size: 20px;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 6px;
  cursor: pointer;
}
button:hover {
  background-color: rgba(244, 244, 244, 0.725);
  transform: scale(0.98);
}
.main_display {
  margin-top: 60px;
  display: flex;
}
.buttonDisable,
.buttonDisable:hover {
  background-color: rgb(126, 126, 126);
  transform: scale(1);
}
.fav_manage_btn {
  height: fit-content;
  margin-right: 10px;
}
.back_btn {
  height: fit-content;
  margin-right: 100px;
}
.fav_title {
  align-self: center;
  padding-right: 400px;
}
.fav_title > h1 {
  margin-bottom: 0;
}

.screen {
  width: 100vw;
  height: 100vh;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
