.search_form {
  display: grid;
  justify-content: center;
  margin-top: 10px;
}
.search_input {
  width: 50vw;
  height: 5vh;
  padding-left: 5px;
  text-align: center;
}
.search_input:focus {
  border-width: 2px;
}
